@import "base/_general.scss";
@import "smart-grid.scss";
@import "../blocks/modules/product/product";
@import "helpers/_variables.scss";

.wrapper {
  @include wrapper();
}

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: .04px;
  color: $color-grey-3;
  background-color: #F4F4F4;
  overflow-x: hidden;
  height: 100%;
}

a {
  text-decoration: none;

  &:hover {

  }
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

