@import "../../../styles/smart-grid";
@import "../../../styles/helpers/variables";

.js-tab__content.hide {
  display: none;
}

.js-tab__content.show {
  display: block;
}

.input {
  width: 351px;
  height: 52px;
  left: 70px;
  top: 364px;
  border: 1px solid $color-grey-2;
  border-radius: 16px;
  padding: 14px 16px;
  box-sizing: border-box;
  color: $color-black;

  @include md-block() {
    width: 100%;
  }

  &::placeholder {
    color: $color-grey-2;
  }

  &:focus {
    outline: none;
    border: 1px solid $color-blue;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $color-blue;
  border-radius: 16px;
  font-size: 18px;
  color: #fff;
  padding: 14px 24px;

  @include md-block() {
    width: 100%;
    font-size: 14px;

    padding: 17px;
  }

  &:hover {
    background-color: $color-blue-hover;
  }

  &:active {
    background-color: $color-blue-active;
  }
}


.btn-white {
  background-color: #fff;
  color: $color-black;

  &:hover {
    background-color: #fff;
    color: $color-blue-hover;
  }

  &:active {
    background-color: #fff;
    color: $color-blue-active;
  }
}

.product {
  max-width: 846px;
  display: flex;
  position: relative;
  margin-top: 80px;

  @include md-block() {
    flex-direction: column;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  &__tabs {
    @include md-block() {
      border-radius: 20px;
      overflow: hidden;
      margin-bottom: 20px;
    }

    &__tab {
      width: auto;
      display: inline-block;
      background: $color-grey-2;
      border-radius: 20px 20px 0 0;
      padding: 20px 24px;
      font-weight: 500;
      font-size: 22px;
      color: $color-black;
      cursor: pointer;
      
      svg {
        display: none;
      }

      @include md-block() {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fff;
        padding: 20px;
        font-size: 20px;
        border-radius: 0;
        overflow: hidden;

        svg {
          display: block;
          width: 24px;
          height: 24px;
        }
      }

      &.js-tab-active {
        background-color: #fff;
        color: $color-blue;
      }
    }
  }

  &__content {
    position: absolute;
    left: 0;
    top: 73px;
    background: #FFFFFF;
    border-radius: 0 20px 20px 20px;
    padding: 40px 60px;
    display: none;

    @include md-block() {
      position: static;
      border-radius: 0;
      padding: 30px 20px;
    }

    &__items {
      display: flex;
      border-bottom: 1px solid $color-grey-2;
      padding-bottom: 24px;

      @include md-block() {
        flex-wrap: wrap;
        padding-bottom: 14px;
      }
    }

    &__img {
      position: relative;
      left: -60px;

      @include md-block() {
        position: static;
      }
    }

    &__text {
      width: 70%;

      @include md-block() {
        width: 100%;
      }

      &--title {
        margin-bottom: 20px;
        font-weight: 700;
        font-size: 26px;
        color: $color-black;

        @include md-block() {
          margin-top: 12px;
          font-size: 24px;
        }
      }

      p {
        margin-bottom: 16px;
      }
    }

    &__description {
      margin: 40px 0 0 0;

      @include md-block() {
        margin-top: 30px;
      }

      &--title {
        margin-bottom: 20px;
        font-weight: 500;
        font-size: 18px;

        @include md-block() {
          margin-bottom: 16px;
          font-size: 16px;
        }
      }

      &--list {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;

        @include md-block() {
          margin-bottom: 14px;
        }

        li {
          width: 50%;
          margin-bottom: 18px;
          box-sizing: border-box;
          position: relative;
          padding-left: 36px;

          @include md-block() {
            width: 100%;
            margin-bottom: 15px;
          }
          
          &::before {
            content: '';
            width: 20px;
            height: 20px;
            position: absolute;
            left: 0;
            top: 0;
            background-image: url("../img/sprites/sprite.svg#bike");
          }

          &:nth-child(2n) {
            order: 1;

            @include md-block() {
              order: 0;
            }
          }
        }

        &-ol {
          display: flex;
          flex-wrap: wrap;
          margin-bottom: 20px;
          padding-left: 16px;

          @include md-block() {
            margin-bottom: 14px;
          }

          li {
            width: 50%;
            margin-bottom: 18px;
            box-sizing: border-box;

            @include md-block() {
              width: 100%;
              margin-bottom: 15px;
            }

            &:nth-child(2n) {
              order: 1;

              @include md-block() {
                order: 0;
              }
            }
          }
        }
      }

      &--form {
        display: flex;
        position: relative;

        @include md-block() {
          flex-direction: column;
        }

        .btn {
          margin-left: 24px;

          @include md-block() {
            margin-left: 0;
            margin-top: 14px;
          }
        }
      }

      &--footer {
        display: flex;
        margin-top: 40px;
        box-shadow: 0 10px 40px rgba(12, 12, 12, 0.1);
        border-radius: 20px;
        padding: 30px 36px;
        box-sizing: border-box;

        .btn {
          margin-right: 12px;
        }
      }
    }
  }
}

.show-text {
  .product__content{
    display: block;
  }

  .product__tabs__tab {
    background-color: #fff;

    &--title {
      color: $color-blue;
    }

    svg {
      transform: rotate(-180deg);
    }
  }
}

.error {
  position: absolute;
  top: 52px;
  left: 16px;
}